body{
    font-family: Arial;
    margin:0;
    background:#f5f5f5;
    text-align:center;
}

header{
    background:#2e7d32;
    color:white;
    padding:30px;
}

.menu{
    padding:20px;
}

.card{
    background:white;
    margin:10px;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 5px rgba(0,0,0,0.1);
}

.btn{
    display:inline-block;
    margin:20px;
    padding:15px 25px;
    background:green;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

footer{
    margin-top:20px;
    padding:10px;
    background:#222;
    color:white;
}
